VITE_SUPABASE_URL=https://jkzclttwjzinbziszotq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpremNsdHR3anppbmJ6aXN6b3RxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDA3ODI0MjksImV4cCI6MjA1NjM1ODQyOX0.AIqMNq3TlJb3obfJaH8ZCaBGxGeCXcVA-KMvxGTG9cg
VITE_SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpremNsdHR3anppbmJ6aXN6b3RxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0MDc4MjQyOSwiZXhwIjoyMDU2MzU4NDI5fQ.xOjdDhECxsor1Krh6hmYdzxFHT2yX6V1qAr9NfwEGbs